
.wrapper{
    padding: 10px 0;
    background: linear-gradient(106deg, #69b1c9 0%, #6081c3 50.64%, #5558af 100%);

    .text{
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        color: #fff;
    }
}