@import './_fonts.scss';

$fontBase: 'Gilroy', sans-serif;

$fontTitle: 'Neuzeit Grotesk', sans-serif;

$bgMain: black;
$bgMainWhite: white;

$textMain: #fff;
$codGray: #0B0B0B;
$CodGrayCC: #282828cc;
$CodGray: #282828;
$textColorLink: #ffffffb3;
$colorNumberPrise: #ffffffcc;
$Tundora: #4E4E4E;
$brinkpink: #F65D81;
$alabaster: #F7F7F7;


$z-index100: 100;